In [11]:
import requests

def download_one_file_data(year: int, month: int):

    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02}.parquet"
    response = requests.get(URL)
    if response.status_code == 200:
        PATH = f"../data/raw_yellow_tripdata_{year}-{month:02}.parquet"
        with open(PATH, "wb") as f:
            f.write(response.content)
        return PATH
    else:
        raise Exception(f"{URL} not available")

In [12]:
download_one_file_data(2024, 1)

'../data/raw_yellow_tripdata_2024-01.parquet'

In [14]:
import pandas as pd

data = pd.read_parquet('../data/raw_yellow_tripdata_2024-01.parquet')

data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [15]:
data.shape

(2964624, 19)

In [16]:
data = data[["tpep_pickup_datetime", "PULocationID"]]

In [18]:
data.rename(columns={"tpep_pickup_datetime": "pickup_datetime", "PULocationID": "pickup_location_id"}, inplace=True)

In [21]:
data.pickup_datetime.describe()

count                       2964624
mean     2024-01-17 00:46:36.431092
min             2002-12-31 22:59:39
25%      2024-01-09 15:59:19.750000
50%      2024-01-17 10:45:37.500000
75%      2024-01-24 18:23:52.250000
max             2024-02-01 00:01:15
Name: pickup_datetime, dtype: object

In [22]:
data = data[(data.pickup_datetime >= '2024-01-01') & (data.pickup_datetime < '2024-02-01')]

In [23]:
data.pickup_datetime.describe()

count                       2964606
mean     2024-01-17 01:02:08.093335
min             2024-01-01 00:00:00
25%             2024-01-09 15:59:24
50%             2024-01-17 10:45:42
75%             2024-01-24 18:23:53
max             2024-01-31 23:59:55
Name: pickup_datetime, dtype: object

In [ ]:
data.to_parquet('../data/raw_validated_yellow_tripdata_2024-01.parquet')